.fab-wrapper {
  position: fixed;
  right: 24px;
  bottom: 12px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.7s;
}


.icons-container {
  position: absolute;
  bottom: 80px;
  display: flex;
  flex-direction: column-reverse;
  gap: 16px;
}

.icon-button {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  backdrop-filter: blur(4px);
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.icon-button:hover {
  border-color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
}

.main-button {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  backdrop-filter: blur(4px);
  transition: background-color 0.3s ease;
  cursor: pointer;
  position: relative;
  z-index: 10;
}

.main-button:hover {
  border-color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
}